{
  "extends": ["react-app", "react-app/jest", "prettier"],
  "rules": {
    "semi": "error",
    "no-alert": "warn",
    "no-debugger": "warn",
    "no-console": "warn",
    "quotes": [
      "error",
      "single",
      {
        "allowTemplateLiterals": true
      }
    ],
    "jsx-quotes": ["error", "prefer-single"],
    "no-unused-vars": "off",
    "no-var": "error",
    "space-infix-ops": "error",
    "linebreak-style": ["error", "unix"],
    "space-before-function-paren": "off",
    "@typescript-eslint/space-before-function-paren": [
      "error",
      {
        "anonymous": "never",
        "named": "never",
        "asyncArrow": "always"
      }
    ],
    "@typescript-eslint/no-unused-vars": "error",
    "@typescript-eslint/no-inferrable-types": "error",
    "@typescript-eslint/no-empty-interface": [
      "error",
      {
        "allowSingleExtends": true
      }
    ]
  }
}
